* {
 margin: 0;
 padding: 0;
}
h1{
 font-size: 60px;
text-shadow: #FC0 1px 0 10px;


}
html,


.section{
 width: 600px;
margin-left: 50px;
margin-top: 50px;

}

html {
 background-image: url(./img/love.jpg);
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.wrapper {
 /* margin-top: 320px; */
 /* margin-top: 1020px; */
 margin-left: 30px;
}